body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 253, 253, 0.446)), url(.jpg) no-repeat center/cover;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;


}


h1 {
    text-align: center;
    color: #2d9bfa;
    font-size: 25px;
}

h2{
    text-align: center;
    color: #2d9bfa;
    font-size: 30px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 20px;
    border: 1px solid rgb(74, 142, 226);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(201, 58, 58);
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #498af1;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




























